h1{
    color: blue;
}
h2{
    color: red;
}
h3{
    color:aquamarine;
}
p1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    background-color: bisque;
p2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    background-color: bisque;
}
p3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    background-color: bisque;
}